<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Shop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="position-fixed w-100 h-100 d-flex justify-content-center align-items-center bg-light ">
    <div class="card p-4 col-xl-3 col-lg-4 col-md-6 col-8">
      <h1 class="text-center">Profile</h1>
      <form class="row">
        <ul class="properties">
          <li>Name</li>
          <li>Age</li>
          <li>Phone</li>
        </ul>
        <ul class="properties">
          <li>{{name}}</li>
          <li>{{age}}</li>
          <li>{{phone}}</li>
        </ul>
      </form>
      <button type="button" (click)="gotoHistory()" class="btn btn-outline-primary">Lịch sử mua hàng</button>
      <button type="button" (click)="logOut()" class="btn btn-outline-danger mt-3">Đăng xuất</button>
    </div>
  </div>
</ion-content>