<ion-content [fullscreen]="true">
  <ion-nav class="position-fixed w-100 h-100 d-flex justify-content-center align-items-center ">
    <form>
      <div *ngIf="messenge" class="alert alert-danger" role="alert">
        {{ messenge }}
      </div>
      <h1 class="text-center">Login</h1>
      <form>
        <div class="form-group">
          <label>Username</label>
          <ion-input class="form-control" [(ngModel)]="userName" name="userName"></ion-input>
        </div>
        <div class="form-group">
          <label>Password</label>
          <ion-input class="form-control" [(ngModel)]="passWord" name="passWord"></ion-input>
        </div>
        <div class="form-group d-flex justify-content-center align-items-center">
          <ion-buttons (click)="login()" class="btn btn-dark mr-4">Login</ion-buttons>
          <a routerLink="/signUp">Sign up</a>
        </div>
      </form>
    </form>
  </ion-nav>
</ion-content>