<ion-content [fullscreen]="true">

  <ion-list *ngFor="let item of data">
    <ion-card class="card_item">
      <div type="button" (click)="goToDetail(item)">
        <img class="img" src={{item.thumbnail}} />
        <ion-card-header>
          <ion-card-title>{{item.name}}</ion-card-title>
          <ion-card-subtitle>{{item.price}} VND</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{item.description}}
        </ion-card-content>
      </div>

      <ul *ngIf="tabName == 'tabCart'" class="properties">
        <li class="item">-</li>
        <li class="item">{{item.count}}</li>
        <li class="item">+</li>
      </ul>

      <ion-icon type="button" (click)="favorite(item)" class="favorite" name="star"
        *ngIf="tabName !== 'tabCart' && tabName !== 'tabProfile'" [color]="item.status ? 'warning': 'Secondary'">
      </ion-icon>
    </ion-card>
  </ion-list>

</ion-content>